<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Unity demo site</title>
    <meta name="description" content="Pseudolinear broadcast server demo">
    <meta name="author" content="imm studios, z.s.">
    
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

</head>
<body>


    <div class="player_container">
    </div>
    
    
    <script type="text/javascript" src="/static/js/jquery.1.11.1.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
</body>
</html>
